/* src/index.css */
/* Retirez les directives Tailwind pour l'instant */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  background-color: #f9fafb;
}